{
    "headless": false,
    "base_url": "https://employer.kitalulus.com",
    "email": "",
    "password": "",
    "api_destination": "http://ip/api/v1/candidate00",
    "limit": 0,
    "timeout": 120000,
    "slowmo": 2000,
    "db_path": "../db/kitalulus-v2.db"
}